@media screen and (max-width: 500px) {
  header {
    background: none !important;
    height: 5vh !important;
  }
}

/* Low screen width */
@media screen and (max-width: 1420px) {
  section {
    flex-direction: column;
  }

  .content.video {
    padding-top: 0px;
  }
}

/* High screen width */
@media screen and (min-width: 1420px) {
  section {
    flex-direction: row;
  }
}
