@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Taviraj:300,400,700,300i,400i,700i");

#banner {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image: url("../../images/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0;
    min-height: 100vh;
    height: 100vh !important;
    width: 100%;
    position: relative;

}

@media screen and (max-width: 1280px) {

    #banner video {
        display: none;
    }

}

@media screen and (max-width: 736px) {

    #banner {
        min-height: 0;
        height: auto !important;
        padding: 6rem 2rem 4rem 2rem;
    }

    #banner .inner {
        width: 100%;
    }

    #banner h1 {
        font-size: 1.75em;
        margin-bottom: 0.5em;
        padding-bottom: 0;
    }

    #banner p {
        font-size: 1.25em;
    }

    #banner br {
        display: none;
    }

    #banner .button {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {

    #banner p {
        font-size: 1em;
    }

}

body.is-loading #banner .inner {
    -moz-transform: scale(0.99);
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
    opacity: 0;
}

body.is-loading #banner:before {
    opacity: 1;
}

.image.fit {
    display: block;
    margin: 0 0 2rem 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
    height: 750px;
    border: 0px solid #f0f0f0;
    border-bottom: 130px solid #fff8f8;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 120px;
}




body
{
    margin: 0;
    padding: 0;


    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
    text-align: center;
}

#menuToggle
{
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: tomato;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}



#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;


    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}


#menuToggle input:checked ~ ul
{
    transform: none;
}

.image.fit {

}




#sigHome {
    height: 400px;
    padding: 5px;
    border: 8px solid #ffffff;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 120px;
    margin-top: 120px;
    margin-bottom: 120px;


}

#one {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}


body {
    margin: 0;
    font-family: 'Trade Winds', cursive;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 0px 10px;
    width: auto;
    height: 90.5px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
    height: 23px;
}

.header-right {
    float: right;
}

.header-left {
    float: left;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}



.kuva img {
    margin-bottom: 120px;
    margin-top: 120px;
    border-radius: 25px;
    width: 100%;
    height: 540px;
    box-shadow: 2px 2px 2px
    #ff8989;

}



.active {
    margin-top: 22px;
    margin-right: 30px;
}

.header-left {
    width: 160px;
}

.logo {
    width: 160px;
}

.content {
    padding : 5em;
    width  : 48em;
    text-align: match-parent;
    float:left;
    margin-right:20px;
    margin-top: 8px;
    margin-left: -4px;
}


hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(255, 255, 255, 0.5);

}

#container {
    overflow:hidden;
    margin-top: 120px;
    margin-bottom: 120px;
}

#container div {
    min-height: 200px;
    padding: 10px;
}


.video {
    overflow:hidden;
    margin:10px;
}

@media screen and (max-width: 1900px) {
    .content {
        float: none;
        margin-right:0;
        width:auto;
        border:0;
    }
}

p {
    font-size: 18px;
}

h2 {
    font-size: xx-large;
}