@import 'shared/global.css';
@import 'shared/menu.css';
@import 'shared/content.css';
@import 'shared/footer.css';

/*
  White header:
  --menu-color: #000000;
  --header-color: #ffffff;
  --menu-item-hover-color: rgba(0, 0, 0, 0.1);

  Transparent header:
  --menu-color: #ffffff;
  --header-color: transparent;
  --menu-item-hover-color: rgba(0, 0, 0, 0.1);
*/

:root {
  --menu-color: #ffffff;
  --header-color: transparent;
  --menu-item-hover-color: rgba(0, 0, 0, 0.1);
}

.content {
  padding-top: 0;
  padding-bottom: 0;
}

/* Avoid messing up map buttons */
.content a.link {
  color: #ffffff;
}

hr {
  width: 50%;
  color: #ffffff;
}

.authors-image img {
  width: 60%;
  height: auto;
  border-radius: 25px;
  box-shadow: 2px 2px 2px #ff8989;
  display: inline-block;
}

#map {
  width: 60%;
  height: 400px;
  padding: 5px;
  border: 8px solid #ffffff;
  background-color: #fff;
  border-radius: 25px;
}

.map {
  padding-bottom: 2em;
}
